@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    margin: 0px;
}
/* halaman sign */
.warp{
    display: flex;
    height: 100vh;
}

.warp .left-side{
    flex: 1;
    position: relative;    
}

/* section sebelah kiri */
.warp section:nth-child(1){
    background-image: url(../SignUp/image.png);
    background-size: cover;
}

.warp .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(43, 21, 107);
    height: 100%;
    width: 100%;
    opacity: 0.8;
    flex-direction: column;

}

.warp .overlay img{
    width: 80%;
    height: auto;
}

.warp .overlay div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.003em;
    color: rgba(255, 255, 255, 0.8);
}

/* section sebelah kanan */
.form-sign{
    flex: 0.7;
    padding: 112px 83px;
    overflow: scroll;
    overflow-x: hidden;
}

.form-sign div{
    margin-bottom: 38px;
}

#notif-signup{
    background-color: #FA8072;
    color: #8B0000;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    display: none;
}

.form-sign div h3{
    margin:0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.003em;
    color: #121212;
    margin-bottom: 12px;
}

.form-sign div p{
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.007em;
    color: #AAAAAA;
}



.form-sign form{
    margin-bottom: 32px;
}

.form-sign form div{
    display: flex;
    flex-direction: column;
}

.form-sign form div label{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4E4B66;
    margin-bottom: 12px;
}

.form-sign form div input{
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    padding: 22px 24px;
    color: #A0A3BD;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.form-sign form .button-submit{
    display: block;
    width: 100%;
    height: 40px;
    background: #5F2EEA;
    color: #F7F7FC;
    border-radius: 16px;
    border-width: 0px;
}

.form-sign .help-sign{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.005em;
    margin: 0;
}

.form-sign .help-sign div{
    margin:0;
    margin-bottom: 19px;
}

.form-sign .help-sign span{
    color: #8692A6;
}

.form-sign .help-sign a{
    color: #5F2EEA;
}

/* page forgot password & upgrade password*/
.warp .overlay-fg{
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(43, 21, 107);
    height: 100%;
    width: 100%;
    opacity: 0.8;
    flex-direction: column;
    padding: 80px 112px;
    box-sizing: border-box;

}

.warp .overlay-fg img{
    width: 276px;
    height: 104px;
    margin-bottom: 60px;
}

.warp .overlay-fg h2{
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    letter-spacing: 0.003em;
    color: #FFFFFF;
}

.warp .overlay-fg p{
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.007em;
    color: rgba(255, 255, 255, 0.7);
}

.form-sign .intro{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #121212;
}

/* Home Page */

/* navbar */
.nav-bar{
    display: flex;
    padding: 35px 130px;
    align-items: center;
    background: #FFFFFF;
}

.nav-bar .logo-nav-bar img{
    width: 120px;
    height: 30px;
    margin-right: 45px;
}

.nav-bar .link-menu {
    flex: 1;
}

.nav-bar .link-menu a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #414141;
    text-decoration: none;
    margin-right: 32px;
    margin-left: 32px;
}

.nav-bar .btn-sign-up{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14x;
    letter-spacing: 0.75px;
    color: #F7F7FC;
    background: #5F2EEA;
    border-radius: 4px;
    border-width: 0;
    width: 120px;
    height: 30px;
}

.nav-bar .search-nav-bar svg{
    margin: 0 50px 0 0;
    width: 22px;
    height: 22px;
}

.nav-bar .picture-nav-bar img{
    width: 50px;
    height: 50px;
}

/* end navbar */

.promotion{
    display: flex;
    background-color: white;
}

.promotion .left-side{
    flex: 1;
}

.promotion .left-side div{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.promotion .left-side div p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #A0A3BD;
    margin: 0 0 30px 0;
}

.promotion .left-side div h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 30px;
    color: #5F2EEA;
    margin: 0;
}

.promotion .right-side{
    flex: 1;
}

.promotion .right-side div{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.product{
    background: #F5F6F8;
    padding: 64px 0 101px 0;
}

.product-now{
    display: flex;
    margin: 64px 130px;
}

.product-now div:nth-child(1){
    flex: 1;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #5F2EEA;
}

.product-now div a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.15px;
    color: #5F2EEA;
    text-decoration: none;
}

.product-list{
    margin: 64px 130px;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.product-list div{
    margin-right: 24px;
}

.product-list img{
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 32px;
}

.product-list .select h4{
    box-sizing: border-box;
}


.upcoming-product{
    background: white;
    padding: 100px 0 140px 0;
    margin: 0 0 0px 0;
}

.coming-soon-product{
    display: flex;
    margin: 0px 130px 40px 130px;
}

.coming-soon-product div:nth-child(1){
    flex: 1;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #14142B;
}

.coming-soon-product div a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.15px;
    color: #5F2EEA;
    text-decoration: none;
}

.month{
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    margin: 0px 130px 56px 130px;
}

.month .btn-month{
    padding: 12px 27px;
    flex: 1;
    border: 1px solid #5F2EEA;
    border-radius: 4px;
    width: 127px;
    height: 42px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5F2EEA;
    margin-right: 16px;
}

.upcoming-list{
    margin: 0px 130px 40px 130px;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.upcoming-list div{
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-content: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    border: 0.5px solid #DEDEDE;
    border-radius: 8px;
    margin-right: 24px;
}

.upcoming-list h4{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #14142B;
    margin: 24px 0px 12px 0;
}

.upcoming-list p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #A0A3BD;
    margin: 0 0 40px 0;
}

.upcoming-list button{
    border: 1px solid #5F2EEA;
    border-radius: 4px;
    width: 159px;
    height: 33px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* text-align: center; */
    color: #5F2EEA;
    background-color: white;
}

.join-member{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-invitation{
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
    border-radius: 8px;
    margin: 0 130px;
    padding: 48px 0;
}

.card-invitation div{
    margin: 0 0 48px 0;
}

.card-invitation div p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 114%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #4E4B66;
    margin: 0 0 10px 0;
}

.card-invitation div h3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 114%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #5F2EEA;
    margin: 0 0 0 0;
}

.form-invitation input{
    border: 2px solid #DEDEDE;
    border-radius: 4px;
    padding: 15px 12px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.75px;
    color: #A0A3BD;
    margin: 0px 15px 0 0px;
    width: 25%;
}

.form-invitation button{
    background: #5F2EEA;
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    height: 55px;
    width: 100px;
}

.card-invitation div:nth-child(2){
    margin: 0 0 40px 0;
}

.card-invitation div:nth-child(3) p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #6E7191;
    margin: 0 0 3px 0;
}

/* footer */

.footer-overlay{
    display: flex;
    flex-direction: column;
    font-family: 'Mulish';
    font-style: normal;
    color: #6E7191;
    padding: 108px 130px 47px 130px;
    background-color: white;
}

.footer-overlay h6{
    font-size: 16px;
    color: black;
    margin: 0 0 30px 0;
}

.footer-overlay div{
    display: flex;
    flex: 1;
}

.footer-overlay section{
    flex: 1;
}

.footer-overlay .footer-section-one{
    flex: 2;
}
.footer-overlay .footer-section-one img{
    height: 43px;
    width: 170px;
    margin-bottom: 29px;
}

.footer-section-one p{
    font-size: 16px;
    margin: 0 0 10px 0;
}

.footer-section-two p{
    font-size: 14px;
    margin: 0 0 14px 0;
}

.footer-section-three img{
    display: block;
    height: 44px;
    width: 120px;
    margin: 0 0 25px 0;
}

.footer-section-four div{
    align-items: center;
    margin-bottom: 15px;
}
.footer-section-four div svg{
    width: 20px;
    height: 20px;
}

.footer-section-four div span{
    font-size: 14px;
    margin-left: 22px;
}
.footer-copyright{
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4E4B66;
    margin: 65px 0 0 0;
}

/* akhir footer */

/* View All Page */
.list-movie{
    background: #F5F6F8;
    padding: 100px 0 0px 0;
    margin: 0 0 0px 0;
}

.list-movie .sort-list-movie{
    margin-right: 12px;
}

.list-movie .sort-list-movie select{
    background: #FCFDFE;
    border: 1px solid #DEDEDE;
    border: none;
    border-radius: 16px;
    width: 130px;
    height: 40px;
    padding: 5px 15px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.list-movie .search-list-movie input{
    background: #FCFDFE;
    border: 1px solid #DEDEDE;
    border: none;
    border-radius: 16px;
    width: 313px;
    height: 40px;
    padding: 5px 15px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #4E4B66;
}

.upcoming-list.movie-list{
    padding: 45px 72px;
    background: white;
    margin: 0px 130px 0px 130px;
    display: flex;
    flex-wrap: wrap;
    overflow: unset;
}

.upcoming-list.movie-list div{
    display: flex;
    padding: 32px;
    border: 0.5px solid #DEDEDE;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 15px;
}

.upcoming-list.movie-list div img{
    width: 100%;
    height: 240px;
}

.number-page{
    display: flex;
    justify-content: center;
    margin: 35px 0 51px 0;
}

.number-page div{
    display: flex;
    background: #FFFFFF;
    border: 0.5px solid #DEDEDE;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin:0 8px 45px 0;      
}
/* end page View all */

/* Movie Detail Page */

.details-movie{
    display: flex;
    background-color: white;
    padding: 10px 70px 70px 70px;
}

.details-movie .border-img{
    margin-right: 59px;
    padding: 45px;
    border: 2px solid #DEDEDE;
    border-radius: 16px
}

.details-movie .border-img img{
    width: 236px;
    height: 362px;
}

.overlay-details{
    color: #4E4B66;
    display: flex;
    font-family: 'Mulish';
    font-style: normal;
    flex-direction: column;
}

.title-genre{
    margin: 0 0 32px 0;
}

.title-genre h3{
    margin: 0 0 8px 0;
    font-size: 32px;
    font-weight: bold;
    color: #14142B;
}

.title-genre span{
    margin: 0 0 8px 0;
    font-size: 18px;
}

.overlay-details .details{
    display: flex;
}

.overlay-details .details>div{
    margin: 0 60px 15px 0;
}

.overlay-details .details span{
    font-size: 14px;
    color: #8692A6;
}

.overlay-details .details p{
    margin: 5px 0 15px 0;
    font-size: 16px;
    color: #121212;
}
.br-full{
    height: 0px;
    width: 100%;
    border-top: 2px solid #DEDEDE;
}

.overlay-details .synopsis h4{
    margin: 15px 0 0 0;
    color: #000000;
    font-size: 20px;
}

.overlay-details .synopsis p{
    margin: 0px 0 0 0;
    max-width: 100%;
    line-height: 40px;
    font-size: 16px;
    color: #4E4B66;
}

.overlay-showtimes-tickets{
    font-family: 'Mulish';
    font-style: normal;
    color: #6E7191;
    padding: 70px;
}

.header-show-tickets{
    text-align: center;
}

.header-show-tickets h3{
    color: #14142B;
    font-size: 24px;
    margin: 0 0 40px 0;
}

.header-show-tickets input{
    background: #EFF0F6;
    border-radius: 6px;
    border-width: 1px;
    width: 284px;
    height: 22px;
    padding: 5px 20px;
    color: #4E4B66;
    font-size: 16px;
}

.header-show-tickets select{
    background: #EFF0F6;
    border-radius: 6px;
    width: 284px;
    height: 34px;
    padding: 5px 20px;
    color: #4E4B66;
    font-size: 16px;
}

.overlay-tickets{
    padding: 70px 0 70px 0px;
    display: flex;
    flex-wrap: wrap;
}

.tickets{
    margin: 0 32px 32px 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.choice-ticket{
    background: #FFFFFF;
    border-radius: 8px;    
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.bracnd-ticket{
    display: flex;
}

.bracnd-ticket>div{
    flex: 1;
}

.bracnd-ticket>div:nth-child(1){ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bracnd-ticket img{
    height: 40px;
    width: 105px;
}

.bracnd-ticket h3{
    margin: 20px 0 4px 0;
    color: #000000;
    font-size: 30px;
}

.bracnd-ticket p{    
    max-width: 177px;
    margin: 0px 20px 20px 0;
    color: #6E7191;
    font-size: 12px;
    line-height: 18px;
}

.times{    
    color: #4E4B66;
    font-size: 12px;
    font-weight: 600;
    padding: 16px 30px 0 30px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 5px 16px;
}

.price{
    display: flex;
    padding: 24px 30px;
}

.price div:nth-child(1){
    flex: 1;
    font-size: 16px;
}

.price div:nth-child(2){
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.overlay-btn{
    padding: 10px 30px 24px 30px;
}

.btn-booking{
    background: #5F2EEA;
    color: #F7F7FC;
    font-size: 14px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-width: 0;
}

.more{
    display: flex;
}

/* endpage MovieDetails */

/* start order page  */

.main-overlay{
    background: #F5F6F8;
    display: flex;
    padding: 60px 70px;
    font-family: 'Mulish';
    color: #14142B;
    letter-spacing: 0.25px;
}

.title-instructure{    
    font-size: 24px;
}

.left-than-right{
    flex: 0.7;
    margin-right: 24px;
}

.right-than-left{
    flex: 0.3;
}

.title-film{
    background-color: white;
    display: flex;
    padding: 37px 48px;
    border-radius: 6px;
}

.title-film div:nth-child(1){
    flex: 1;
    color: #000000;
    font-weight: 600;
}

.btn-change-movie{
    border: 8px solid #EFF0F7;
    border-radius: 10px;

    color: #5F2EEA;
    font-size: 14px;
    font-weight: 700;
}

.order-info{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    /* padding: 30px 24px 24px 24px; */
}

.brand-order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 24px 30px 24px;
}
.brand-order-info img{
    Width: 132px;
    Height: 23px;
}

.brand-order-info div:nth-child(2){
    font-size: 24px;;
    color: #14142B;
    font-weight: 600;
    /* margin: 13px 0 30px 0; */
}

.detail-orader-info{
    display: flex;
    flex-direction: column;
    margin: 0px 24px 30px 24px;
}

.detail-orader-info>div{
    display: flex;
    margin-bottom: 16px;
}

.detail-orader-info>div p{
    flex:  1;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 0;
}

.detail-orader-info>div div{
    color: #14142B;
    font-size: 14px;
    font-weight: 600;
}

.total-payment-order{
    display: flex;
    margin: 24px 24px 24px 24px;
}

.total-payment-order div:nth-child(1){
    flex: 1;
    color: #000000;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
}

.total-payment-order div:nth-child(2){
    color: #5F2EEA;
    font-size: 24px;
    font-weight: 700;
}

.choose-seat{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 100px 120px;
    font-family: 'Mulish';
    color: #4E4B66
}

.screen{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 0 0 24px;
    align-items: center;
    letter-spacing: 0.75px;
    font-weight: 600;
}

.screen div:nth-child(2){
    border-width: 8px;
    border-radius: 4px;
    margin: 8px 0 0 0;
}

.grid-seat{
    margin: 24px 0 30px 0;
    display: flex;
    font-size: 14px;
}

.left-grid-seat{    
    flex: 1;
    display: grid;
    grid-template-columns: repeat(8, 30px) ;
    grid-template-rows: repeat(8, 30px);
    gap: 5px;    
} 
.right-grid-seat{
    justify-content: flex-end;
    display: grid;
    grid-template-columns: repeat(7, 30px) ;
    grid-template-rows: repeat(8, 30px);
    gap: 5px;    
} 

.left-grid-seat>div{
    background: #D6D8E7;
    border-radius: 4px;
    color: #5F2EEA;
}
.right-grid-seat>div{
    background: #D6D8E7;
    border-radius: 4px;
    color: #5F2EEA;
}

.grid-seat .seat-name{
    color: #4E4B66;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.seating-key{
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.legend-seating-key{
    display: flex;
}

.legend-seating-key>div{
    flex: 1;
    display: flex; 
}

.legend-seating-key>div>div{
    width: 30px;
    height: 30px;    
    margin-right: 16px;
}

.legend-seating-key>div:nth-child(1)>div{
    background: #D6D8E7;
    border-radius: 4px;    
}

.legend-seating-key>div:nth-child(2)>div{
    background: #5F2EEA;
    border-radius: 4px;    
}

.legend-seating-key>div:nth-child(3)>div{
    background: #6E7191;
    border-radius: 4px;    
}

.overlay-btn-order{
    display: flex;
    margin-top: 40px;
}

.btn-checkout-order{
    width: 300px;
    height: 55px;
    color: #5F2EEA;
    border: 2px solid #5F2EEA;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.btn-checkout-order:hover{
    background-color: #5F2EEA;
    color: white;
}

.overlay-btn-order>div:nth-child(1){
    flex: 1;
}

/* end order ppage */

/* start  payment page*/
.payment-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 37px 48px;
    border-radius: 6px;
    color: #6B6B6B;
    font-family: 'Mulish';
    font-size: 20px;
}

.payment-info>div{
    display: flex;
    margin: 12px 0;
}

.payment-info>div>div:nth-child(1){
    flex: 1;
}

.payment-info>div>div:nth-child(2){
    color: #000000;
    font-size: 20px;
}

.payment-brand{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 40%);
    gap: 25px; 
}

.brand-border{
    border: 2px solid #DEDEDE;
    border-radius: 8px;
    padding: 15px 4px;
    text-align: center;
}

.payment-info div:nth-last-child(1) .total-price-payment{
    font-size: 24px;
    font-weight: bold;
}

.additional-main{
    margin-top: 50px;
}

.middle-br{
    position: relative;
    text-align: center;
    top: 10;
}

.via-cash{
    font-family: 'Mulish';
    font-size: 16px;
    color: #6E7191;
    text-align: center;
}

.via-cash span:nth-child(2){
    color: #5F2EEA;
}

.personal-info{
    
    background-color: white;
    border-radius: 6px;
    padding: 47px 40px;
    font-size: 16px;
}

.personal-info form >div{    
    display: flex;
    flex-direction: column;
}

.personal-info form >div input{
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    margin: 14px 0 32px 0;
    font-size: 18px;
    padding: 20px 32px;
    font-family: 'Mulish';
}

.validation-notif{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: rgba(244, 183, 64, 0.3);
    border-radius: 4px;
    padding: 24px 32px;
}

/* end payment page */

/* start profil page */

.main-overlay.right-more{
    flex-direction: row-reverse;
}

.right-than-left.right-more{
    flex: 0.3;    
    margin-right: 24px;
}

.overlay-white{
    background: #FFFFFF;
    border-radius: 16px;
    padding: 40px 32px;
    font-size: 16px;
}
.overlay-white-br{
    background: #FFFFFF;
    border-radius: 16px;
    font-size: 16px;
}


.tab-page.overlay-white{
    padding: 25px 32px;
    display: flex;
    color: #14142B;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.tab-page.overlay-white>a{
    text-decoration: none;
}

.tab-page-profil.active-tab{
    border-bottom: #5F2EEA;
}

.tab-page.overlay-white .tab-page-profil{
    margin-right: 40px;
}

.tab-page.overlay-white .tab-page-profil:hover{
    color: #AAAAAA;
}

.overlay-details-information{    
    display: flex;
    flex-direction: column;
}

.details-information{
    display: flex;
}

.details-information>div{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.details-information>div>input{
    border: 1px solid #DEDEDE;
    border-radius: 16px;
    margin: 19px 0 25px 0;
    padding: 22px;
}

.information-account .br-full{
    margin: 16px 0 49px 0;
}

.update-details-information{
    color: #F7F7FC;
    background: #5F2EEA;
    border-radius: 16px;
    width: 360px;
    height: 50px;
    border-width: 0px;
    margin: 17px 0 22px 0;
}

.side-profil>div:nth-child(1){
    padding: 40px 40px;
}

.profil-info{
    text-align: center;
    margin-top: 32px;
}

.profil-info div:nth-child(1) img{
    width: 136px;
    height: 136px;
}

.profil-info div:nth-child(2){
    font-size: 20px;
    font-weight: 600;
    margin: 32px 0 4px 0;
}
.profil-info div:nth-child(3){
    color: #4E4B66;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}
.profil-btn-logout{
    text-align: center;
    margin: 20px 0 0px 0;
}
.btn-logout{
    color: #F7F7FC;
    font-weight: 700;
    font-size: 16px;
    background: #5F2EEA;
    border-radius: 16px;
    width: 187px;
    height: 56px;
    border-width: 0;
}
/* end page profil */

/* start page order history */

.history-order{
    margin-bottom: 24px;
}

.history-order>div{
    display: flex;
}

.padding-nonbr{
    padding: 40px 48px;
}

.history-film>div:nth-child(1){
    flex: 1;
}
.history-film>div:nth-child(2){
    align-items: center;
}

.history-film>div:nth-child(1)>div:nth-child(1){
    color: #AAAAAA;
    font-size: 14px;
}
.history-film>div:nth-child(1)>div:nth-child(2){
    color: #000000;
    font-weight: 600;
    font-size: 24px;
}

.btn-history>div:nth-child(1){
    flex: 1;    
}

.btn-history-active{
    background: #00BA88;
    border-radius: 4px;
    border-width: 0;
    width: 196px;
    height: 40px;
    color: #F7F7FC;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.btn-history-active.non-active{
    background: #6E7191;
    border-radius: 4px;
    border-width: 0;
    width: 196px;
    height: 40px;
    color: #F7F7FC;
    font-weight: 700;
    letter-spacing: 0.75px;
}

.btn-history>div:nth-child(2)>a{
    text-decoration: none;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 18px;
}

/* end page order history */

/* start ticket result page */

.overlay-ticket-result{
    padding: 176px 195px;
}

.ticket-result>div:nth-child(1){
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.overlay-ticket{
    display: flex;
}
.left-side-ticket{
    flex: 1;
}
.right-side-ticket{
    display: flex;
    flex-direction: column;
    border-left-width: thin;
    border-left-style: dashed;
    border-left-color: #dedede;
}

.header-ticket{
    background-color: #5F2EEA;
    display: flex;
    color: white;
    padding: 23px 56px;
    align-items: center;
    border-radius:  20px 20px 0 0;
}
.header-ticket>div:nth-child(1){
    flex: 1;
}

.header-ticket>div:nth-child(2){
    font-weight: 600;
    font-size: 18px;
}

.detail-ticket{
    display: flex;
    padding: 38px 56px 0 56px;
    justify-items: center;
}

.detail-ticket>div{
    flex: 1;
}

.detail-ticket>div>div:nth-child(1){
    font-weight: 400;
    font-size: 12px;
    color: #AAAAAA;
}

.detail-ticket>div>div:nth-child(2){
    font-weight: 600;
    font-size: 16px;
    color: #14142B;
}

.detail-ticket .price-detail-ticket>div:nth-child(2){
    font-weight: 700;
    font-size: 24px;
}

.overlay-qr{
    display: flex;
    flex: 1;
}

.qr-code{
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}




@media (max-width: 425px){
    .left-side{
        display: none;
    }

    .form-sign{
        flex: 1;
    }
}

@media (max-width: 859px){
    .warp .overlay div {
        text-align: center;
    }
}